@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}


@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/lib/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/src/lib/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}


/* GLOBAL SETTINGS */
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  text-align: center;
}